process {
    cpus   = { params.threads }
    memory = '4.GB'
    time   = '12.h'

    errorStrategy = { task.attempt <= 2 ? 'retry' : 'finish' }
    maxRetries    = 2

    withLabel: process_low {
        cpus   = 1
        memory = '2.GB'
    }
    withLabel: process_medium {
        cpus   = { Math.min(params.threads as int, 4) }
        memory = '6.GB'
    }
    withLabel: process_high {
        cpus   = { params.threads }
        memory = '12.GB'
    }
}
